---
import { Image } from "astro:assets";
import logo from "../../../assets/logo.jpg";
import ImgChrome from "../../../assets/chrome.png";
import ImgBrave from "../../../assets/brave.png";
import ImgFirefox from "../../../assets/firefox.png";
import ImgEdge from "../../../assets/edge.png";
import ImgAppstore from "../../../assets/appstore.png";
import ImgGoogleplay from "../../../assets/googleplay.png";
import ImgTestFlight from "../../../assets/test-flight.png";
---

<div
  class="pt-36 bg-[url('/images/give-it-bg.png')] bg-cover bg-no-repeat bg-[50%]"
>
  <div class="max-w-screen-xl m-auto text-white flex flex-col gap-16">
    <div class="flex flex-col gap-5">
      <h2 class="text-5xl font-bold">Give It A Try</h2>
      <p class="text-xl font-semibold">
        One SubWallet. On multiple platforms: WebApp, Extension and Mobile.
      </p>
    </div>

    <div class="section-content">
      <div class="flex flex-col gap-16">
        <div class="flex gap-8">
          <div class="flex flex-col gap-3 max-w-96">
            <h4 class="text-xl font-semibold">Extension</h4>
            <div class="text-base font-semibold text-slate-400">
              Seamless access to all your Polkadot &amp; Ethereum assets from
              your browser.
            </div>
          </div>
          <ul class="flex flex-wrap gap-5">
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image src={ImgChrome} alt="Chrome" width={40} height={40} />
                Chrome
              </a>
            </li>
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image src={ImgBrave} alt="Brave" width={40} height={40} />
                Brave
              </a>
            </li>
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image src={ImgFirefox} alt="Firefox" width={40} height={40} />
                FireFox
              </a>
            </li>
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image src={ImgEdge} alt="Edge" width={40} height={40} />
                MS Edge
              </a>
            </li>
          </ul>
        </div>
        <div class="flex gap-8">
          <div class="flex flex-col gap-3 max-w-96">
            <h4 class="text-xl font-semibold">Mobile</h4>
            <div class="text-base font-semibold text-slate-400">
              Use your phone to explore Polkadot and Ethereum on the go!
            </div>
          </div>
          <ul class="flex flex-wrap gap-5">
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image
                  src={ImgAppstore}
                  alt="Appstore"
                  width={40}
                  height={40}
                />
                App Store
              </a>
            </li>
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image
                  src={ImgGoogleplay}
                  alt="Googleplay"
                  width={40}
                  height={40}
                />
                Google Play
              </a>
            </li>
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
                target="_blank"
                href="#"
              >
                <Image
                  src={ImgTestFlight}
                  alt="TestFlight"
                  width={40}
                  height={40}
                />
                TestFlight
              </a>
            </li>
          </ul>
        </div>
        <div class="flex gap-8">
          <div class="flex flex-col gap-3 max-w-96">
            <h4 class="text-xl font-semibold">Web Dashboard</h4>
            <div class="text-base font-semibold text-slate-400">
              The one-stop dashboard to manage your assets with full control.
            </div>
          </div>
          <ul class="flex flex-wrap gap-5">
            <li>
              <a
                class="w-56 text-xl font-semibold flex items-center gap-2.5 p-5 py-4 rounded-lg bg-[rgba(255,255,255,0.08)]"
              >
                <Image src={logo} alt="logo" width={40} height={40} />
                SubWallet
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
